fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg[binary]
alembic
pydantic-settings
temporalio
httpx
redis
celery
tzdata
confluent-kafka
-e ../../libs/jwt_shared
-e ../../libs/kafka_shared
-e ../../libs/logging_shared
-e ../../libs/tracing_shared
-e ../../libs/metrics_shared
-e ../../libs/rate_limit_shared
